name: Update Activity
on:
  schedule:
    - cron: '0 */6 * * *' # Se ejecuta cada 6 horas
  workflow_dispatch: # Permite ejecutarlo manualmente

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: jamesgeorge007/github-activity-readme@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          MAX_LINES: 8
          # Personaliza aquí lo que se muestra
          COMMIT_MSG: "⚡ Actualizada la actividad reciente"
          EMPTY_MESSAGE: "Trabajando duro en nuevos proyectos... ¡Vuelve pronto!"
